@import "vars.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

body {
  background-color: var(--color-darkblue);
  color: white;
  font-size: 50px;
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

h1{
  font-weight: 600;
  font-size: 140px;
  line-height: 140px;
  margin-top: 60px;
  margin-bottom: 60px;
}

h2{
  font-weight: 400;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  font-size: 40px;
  color: white;
}

hr{
  border: 6px solid white;
  transition: 1s ease-out;
  animation-name: strech;
  animation-duration: 1s;
}
@keyframes strech {
  0%{width: 0;}
  100%{width:100%}
}

input, input::placeholder, input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white;
  font-size: 50px;
  text-align: center;
  color: grey;
  padding: 20px 10px;
  width: 100%;
  -webkit-text-fill-color: grey;
  transition: background-color 5000s ease-in-out 0s;
  display: inline-block;
}

button{
  text-align: center;
  color: white;
  font-size: 50px;
}
