:root{
  --color-lightgreen: #C8F4DE;
  --color-darkgreen: #66C6BA;
  --color-palegreen: #EEFFF7;
  --color-navy: #1E1A34;
  --color-yellow: #FFDF6B;
  --color-pink: #FF7E8A;
  --color-darkred: #BD1C1C;
}
